.row , .main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    background-color: #242424;
    
}
body{
    background-color: #242424;
}
.box{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    color: white;
    font-family: sans-serif;
    border: #242424 1px;
    border-radius: 10px;
    
}
.inputs{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    color: white;
}
span{
    color: white;
    font-family: sans-serif;
    font-weight: 700;
}
input{
    border-radius: 3px;
    height: 23px;
}
button{
    height: 30px;
    width: 70px;
    background-color: blueviolet;
    color: white;
    font-weight: 700;
    font-family: sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    
    box-shadow: inset 0 0 0 0.1rem white;
}